In [2]:
from pyspark import SparkConf, SparkContext
import pandas as pd

In [29]:
df = pd.read_csv('1800.csv', header=None)

In [31]:
df.head()

             0         1     2    3   4    5  6   7
0  ITE00100554  18000101  TMAX  -75 NaN  NaN  E NaN
1  ITE00100554  18000101  TMIN -148 NaN  NaN  E NaN
2  GM000010962  18000101  PRCP    0 NaN  NaN  E NaN
3  EZE00100082  18000101  TMAX  -86 NaN  NaN  E NaN
4  EZE00100082  18000101  TMIN -135 NaN  NaN  E NaN

In [34]:
df.drop(columns=[4,5,6,7], axis=1)

                0         1     2    3
0     ITE00100554  18000101  TMAX  -75
1     ITE00100554  18000101  TMIN -148
2     GM000010962  18000101  PRCP    0
3     EZE00100082  18000101  TMAX  -86
4     EZE00100082  18000101  TMIN -135
5     ITE00100554  18000102  TMAX  -60
6     ITE00100554  18000102  TMIN -125
7     GM000010962  18000102  PRCP    0
8     EZE00100082  18000102  TMAX  -44
9     EZE00100082  18000102  TMIN -130
10    ITE00100554  18000103  TMAX  -23
11    ITE00100554  18000103  TMIN  -46
12    GM000010962  18000103  PRCP    4
13    EZE00100082  18000103  TMAX  -10
14    EZE00100082  18000103  TMIN  -73
15    ITE00100554  18000104  TMAX    0
16    ITE00100554  18000104  TMIN  -13
17    GM000010962  18000104  PRCP    0
18    EZE00100082  18000104  TMAX  -55
19    EZE00100082  18000104  TMIN  -74
20    ITE00100554  18000105  TMAX   10
21    ITE00100554  18000105  TMIN   -6
22    GM000010962  18000105  PRCP    0
23    EZE00100082  18000105  TMAX  -40
24    EZE00100082  18000105  TMIN  -58
25    ITE00100554  18000106  TMAX   13
26    ITE00100554  18000106  TMIN   13
27    GM000010962  18000106  PRCP    0
28    EZE00100082  18000106  TMAX  -39
29    EZE00100082  18000106  TMIN  -57
...           ...       ...   ...  ...
1795  ITE00100554  18001226  TMAX   38
1796  ITE00100554  18001226  TMIN   25
1797  GM000010962  18001226  PRCP    0
1798  EZE00100082  18001226  TMAX   36
1799  EZE00100082  18001226  TMIN    8
1800  ITE00100554  18001227  TMAX   10
1801  ITE00100554  18001227  TMIN    9
1802  GM000010962  18001227  PRCP    0
1803  EZE00100082  18001227  TMAX   47
1804  EZE00100082  18001227  TMIN   20
1805  ITE00100554  18001228  TMAX   35
1806  ITE00100554  18001228  TMIN   25
1807  GM000010962  18001228  PRCP    7
1808  EZE00100082  18001228  TMAX   43
1809  EZE00100082  18001228  TMIN    7
1810  ITE00100554  18001229  TMAX   50
1811  ITE00100554  18001229  TMIN   16
1812  GM000010962  18001229  PRCP    9
1813  EZE00100082  18001229  TMAX   45
1814  EZE00100082  18001229  TMIN   -3
1815  ITE00100554  18001230  TMAX   50
1816  ITE00100554  18001230  TMIN   31
1817  GM000010962  18001230  PRCP   13
1818  EZE00100082  18001230  TMAX   96
1819  EZE00100082  18001230  TMIN   14
1820  ITE00100554  18001231  TMAX   50
1821  ITE00100554  18001231  TMIN   25
1822  GM000010962  18001231  PRCP   16
1823  EZE00100082  18001231  TMAX   14
1824  EZE00100082  18001231  TMIN   -4

[1825 rows x 4 columns]

In [35]:
conf = SparkConf().setMaster("local").setAppName("min-temprature")

In [6]:
sc = SparkContext(conf=conf)

In [58]:
def parseLine(line):
    fields = line.split(',')
    stationID = fields[0]
    entryType= fields[2]
    temperature = float(fields[3]*0.1*(9.0/5.0) + 32)  # converting celcuis to forenheit
    return (stationID, entryType, temperature)

In [59]:
lines = sc.textFile("1800.csv")

parsedLines = lines.map(parseLine)

#only keep rows with TMIN
minTemps = parsedLines.filter(lambda x: "TMIN" in x[1])

# keep only statinoID and temperature for each station
stationsTemps = minTemps.map(lambda x: (x[0], x[2]))

# find the minimum temperature for the entire year for each station:
minTemps = stationsTemps.reduceByKey(lambda x,y: min(x,y))

minTemps

In [71]:
results = minTemps.collect();
for result in results:
    print(result[0] + "\t{:.2f}F".format(result[1]))

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 14.0 failed 1 times, most recent failure: Lost task 0.0 in stage 14.0 (TID 7, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "c:\spark\python\lib\pyspark.zip\pyspark\worker.py", line 229, in main
  File "c:\spark\python\lib\pyspark.zip\pyspark\worker.py", line 224, in process
  File "c:\users\mojiway\appdata\local\programs\python\python36-32\lib\site-packages\pyspark\rdd.py", line 2438, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "c:\users\mojiway\appdata\local\programs\python\python36-32\lib\site-packages\pyspark\rdd.py", line 2438, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "c:\users\mojiway\appdata\local\programs\python\python36-32\lib\site-packages\pyspark\rdd.py", line 362, in func
    return f(iterator)
  File "c:\users\mojiway\appdata\local\programs\python\python36-32\lib\site-packages\pyspark\rdd.py", line 1857, in combineLocally
    merger.mergeValues(iterator)
  File "c:\spark\python\lib\pyspark.zip\pyspark\shuffle.py", line 236, in mergeValues
    for k, v in iterator:
  File "<ipython-input-58-739c045afb45>", line 5, in parseLine
TypeError: can't multiply sequence by non-int of type 'float'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:438)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:421)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:1126)
	at scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:1132)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1599)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1587)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1586)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1586)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1820)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1769)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1758)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2027)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2048)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2067)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2092)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:939)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:363)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:938)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:153)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "c:\spark\python\lib\pyspark.zip\pyspark\worker.py", line 229, in main
  File "c:\spark\python\lib\pyspark.zip\pyspark\worker.py", line 224, in process
  File "c:\users\mojiway\appdata\local\programs\python\python36-32\lib\site-packages\pyspark\rdd.py", line 2438, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "c:\users\mojiway\appdata\local\programs\python\python36-32\lib\site-packages\pyspark\rdd.py", line 2438, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "c:\users\mojiway\appdata\local\programs\python\python36-32\lib\site-packages\pyspark\rdd.py", line 362, in func
    return f(iterator)
  File "c:\users\mojiway\appdata\local\programs\python\python36-32\lib\site-packages\pyspark\rdd.py", line 1857, in combineLocally
    merger.mergeValues(iterator)
  File "c:\spark\python\lib\pyspark.zip\pyspark\shuffle.py", line 236, in mergeValues
    for k, v in iterator:
  File "<ipython-input-58-739c045afb45>", line 5, in parseLine
TypeError: can't multiply sequence by non-int of type 'float'

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:438)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:421)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:1126)
	at scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:1132)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [ ]:
#the code is correct but I dont know why it doesnt work in jupyter notebook. I read somewhere that spark 2.* doesnt work with python 3.6